body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #2c3e50; /* Fundo cinza escuro */
  color: #ecf0f1; /* Texto claro */
  font-family: "Manrope", sans-serif;
}

h1 {
  margin: 10px 0;
}

.current_player {
  font-size: 2rem;
  color: #3498db;
}

.game_over {
  font-size: 2rem;
  color: #e74c3c;
  display: none;
}

#tic_tac_toe {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  margin-bottom: 20px;
}

#tic_tac_toe div {
  width: 100px;
  height: 100px;
  background-color: #34495e; /* Fundo das células mais escuro */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 10px; /* Borda arredondada */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para dar um efeito 3D */
}

#restart {
  margin-top: 20px;
}

.new_game {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #9785ff; /* Botão verde */
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 20px; /* Borda arredondada */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para dar um efeito 3D */
}

.new_game:hover {
  background-color: #4749a5; /* Cor mais clara ao passar o mouse */
}

.win-cell {
  text-decoration: line-through;
  color: red;
}
